body {
  font-size: 16px;
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
}
header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 4px 10px black;
}
header {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: whitesmoke;
  background-color: darkgreen;
}
main section p {
  background-color: white;
  text-align: justify;
  padding: 0.7rem;
  font-family: "Lato", "Times New Roman", "serif";
  line-height: 1.5rem;
}
nav > ul {
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
header > img {
  width: 100px;
  height: auto;
  padding: 0.75em;
}

h1 {
  color: gold;
  padding: 0rem;
  font-family: "EB Garamond", "Helvetica", "sans-serif";
  font-size: 1.75rem;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1em;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  padding: 0.75rem;
}

.active {
  color: yellow;
  border-bottom: 1px solid white;
  padding-bottom: 0.2rem;
}

header nav ul li {
  flex: 1 1 auto;
}

footer {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0.8em;
  align-items: center;
  justify-content: center;
}
.contact {
  text-align: center;
  padding: 0.2em;
  color: white;
}
.social {
  text-align: center;
  padding: 0.25rem;
}
.social img {
  width: 50px;
  height: auto;
}
.footer_tiny {
  grid-column: 1/3;
  text-align: center;
  color: white;
}
.action {
  grid-column: 1;
  grid-row: 1;
  background-color: whitesmoke;
  opacity: 0.85;
  margin: 5rem 6rem;
  padding: 1em;
  text-align: center;
  font-family: "Lato", "Times New Roman", "serif";
  border-radius: 10px;
}
.heroimg {
  grid-column: 1 / -1;
  grid-row: 1;
}
nav a:hover {
  color: black;
  background-color: yellowgreen;
  border-radius: 5px;
}
.hero {
  width: 960px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h2 {
  font-family: "EB Garamond", "Helvetica", "sans-serif";
  color: green;
  padding: 0.25rem;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px 2px;
}
main {
  background-color: white;
  padding: 0.75em;
}
.action button {
  line-height: 2em;
  width: 10em;
  background-color: yellowgreen;
  font-size: 1.25em;
  border-radius: 50px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 150px;
  grid-gap: 1.5rem;
  padding: 1rem;
}

.pic1:hover {
  transition: transform 0.2s; /* animation */
  transform: scale(1.1);
}

.pic2:hover {
  transition: transform 0.2s; /* animation */
  transform: scale(1.1);
}

.pic1 {
  grid-column-end: -1;
  position: relative;
  left: 9px;
}

.pic2 {
  position: absolute;
  left: 20px;
}
.family {
  grid-column: 1/3;
  text-align: justify;
  line-height: 1.5rem;
}
@media screen and (max-width: 550px) {
  .______ {
    display: block;
  }
}
