body {
  font-size: 16px;
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
}
header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 4px 10px black;
}
header {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: whitesmoke;
  background-color: darkgreen;
}
main section p {
  background-color: white;
  text-align: justify;
  padding: 0.7rem;
  font-family: "Lato", "Times New Roman", "serif";
  line-height: 1.5rem;
}
nav > ul {
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
header > img {
  width: 100px;
  height: auto;
  padding: 0.75em;
}

h1 {
  color: gold;
  padding: 0rem;
  font-family: "EB Garamond", "Helvetica", "sans-serif";
  font-size: 1.75rem;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1em;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  padding: 0.75rem;
}

.active {
  color: yellow;
  border-bottom: 1px solid white;
  padding-bottom: 0.2rem;
}

header nav ul li {
  flex: 1 1 auto;
}

footer {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0.8em;
  align-items: center;
  justify-content: center;
}
.contact {
  text-align: center;
  padding: 0.2em;
  color: white;
}
.social {
  text-align: center;
  padding: 0.25rem;
}
.social img {
  width: 50px;
  height: auto;
}
.footer_tiny {
  grid-column: 1/3;
  text-align: center;
  color: white;
}
.action {
  grid-column: 1;
  grid-row: 1;
  background-color: whitesmoke;
  opacity: 0.85;
  margin: 5rem 6rem;
  padding: 1em;
  text-align: center;
  font-family: "Lato", "Times New Roman", "serif";
  border-radius: 10px;
}
.heroimg {
  grid-column: 1 / -1;
  grid-row: 1;
}
nav a:hover {
  color: black;
  background-color: yellowgreen;
  border-radius: 5px;
}
.hero {
  width: 960px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h2 {
  font-family: "EB Garamond", "Helvetica", "sans-serif";
  color: green;
  padding: 0.25rem;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px 2px;
}
main {
  background-color: white;
  padding: 0.75em;
}
.action button {
  line-height: 2em;
  width: 10em;
  background-color: yellowgreen;
  font-size: 1.25em;
  border-radius: 50px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 150px;
  grid-gap: 1.5rem;
  padding: 1rem;
}

.pic1:hover {
  transition: transform 0.2s; /* animation */
  transform: scale(1.1);
}

.pic2:hover {
  transition: transform 0.2s; /* animation */
  transform: scale(1.1);
}

.pic1 {
  grid-column-end: -1;
  position: relative;
  left: 9px;
}

.pic2 {
  position: absolute;
  left: 20px;
}
.family {
  grid-column: 1/3;
  text-align: justify;
  line-height: 1.5rem;
}
@media screen and (max-width: 550px) {
  .______ {
    display: block;
  }
}
.layout2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 280px 250px 0px;
  grid-gap: 1rem;
  padding: 1rem;
}

main section ul li {
  background-color: white;
  padding: 0.25rem;
  font-family: "Lato", "Times New Roman", "serif";
  line-height: 1.3rem;
  margin: auto;
}

.ap {
  background-color: white;
  text-align: center;
  padding: 0.25rem;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5rem;
  margin: 0px;
}

.pic3,
.pic4,
.pic5,
.pic6 {
  display: block;
  margin: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px green;
}

.layout3 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 390px 300px 0px;
  grid-gap: 1rem;
  padding: 0.5rem;
}

.freelist {
  background-color: white;
  text-align: justify;
  padding: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

.pic7,
.pic8,
.pic9 {
  width: 95%;
  background-color: white;
  box-shadow: 0 4px 8px 0 black;
  margin: auto;
}

.container {
  text-align: center;
  padding: 10px 20px;
  margin: auto;
}

.pic7:hover,
.pic8:hover,
.pic9:hover {
  transition: transform 0.8s;
  transform: scale(1.1);
}

.layout4 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 1rem;
  padding: 0.5rem;
}

#feedback {
  font: 1em sans-serif;
  color: #241f2d;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

form {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 450px;
  /* Form outline */
  padding: 1em;
  border: 3px white;
  border-radius: 1em;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 130px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10em;
}

.button2 button {
  padding: 4px;
  margin-left: 9em;
  line-height: 1em;
  width: 6em;
  background-color: #e5989b;
  font-size: 1em;
  border-radius: 30px;
  text-align: center;
}

.button2 button:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
